td p,
td span,
td code {
  font-size: 13px !important;
}

td p {
  margin-bottom: 0 !important;
}

td span code {
  color: #888888 !important;
}

h3 {
  border-top: 1px dashed #7f8fa6 !important;
  padding-top: 32px !important;
  font-weight: bold !important;
}

button[name] {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  font-weight: bold;
  color: #aaa !important;
}

button[aria-pressed='true'] {
  color: #aaa !important;
  border-bottom: 2px solid #aaa !important;
}

footer,
article a {
  display: none !important;
}
