#MacantaWebform * {
  font-family: inherit;
}

#MacantaWebform .form-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3px;
}

#MacantaForm .column-set {
  padding: 10px;
}

#MacantaForm .object-name {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

#MacantaForm .form-label {
  color: #333;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 4px;
  margin-top: 0px;
}

#MacantaForm .form-required {
  font-size: 12px;
  color: #d50000;
}

#MacantaForm .form-tooltip {
  font-size: 12px;
  line-height: 12px;
  margin-top: 6px;
  color: #888;
}

#MacantaForm .fields-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 18px 12px 12px;
}

#MacantaForm .fields-group-title {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #aaa;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#MacantaForm input.form-control,
#MacantaForm textarea,
#MacantaForm select {
  display: block;
  font-size: 15.5px;
  line-height: 22px;
  letter-spacing: inherit;
  color: currentColor;
  box-sizing: border-box;
  background: none;
  margin: 0;
  width: 100%;
  min-width: 100px;
  color: currentcolor;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8.5px 14px;
}

#MacantaForm input.form-control {
  height: 38px;
}

#MacantaForm textarea {
  height: 90px;
}

#MacantaForm select {
  height: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
  cursor: pointer;
}

#MacantaForm input[type='radio'],
#MacantaForm input[type='checkbox'] {
  cursor: pointer;
  margin: 0 7px 0 0;
  width: 17px;
  height: 15px;
}

#MacantaForm .field-set {
  margin-bottom: 8px;
}

#MacantaForm .form-radio,
#MacantaForm .form-check {
  margin-top: 4px;
  padding-left: 0;
}

#MacantaForm option {
  padding: 0;
}

#MacantaForm .form-radio,
#MacantaForm .form-check {
  display: flex;
  align-items: center;
}

#MacantaForm .form-radio label,
#MacantaForm .form-check label {
  width: 100%;
  cursor: pointer;
  font-size: 15px;
}

#MacantaForm .form-radio :hover,
#MacantaForm .form-check :hover {
  opacity: 0.8;
}

#MacantaFormSubmit {
  height: 40px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
