#launcher-frame {
  left: 56px !important;
  right: unset !important;
  bottom: 94px !important;
  opacity: 0;
  pointer-events: none;
}

#freshworks-frame-wrapper {
  left: 66px !important;
  right: unset !important;
  bottom: 108px !important;
}

#freshworks-frame-wrapper.frame-left {
  animation: slideupleft 0.3s ease !important;
}
